[Unit]
Description=MCC HAT Server
After=multi-user.target

[Service]
Type=simple
Restart=on-success
RestartSec=10s
User=daq
Group=daq
ExecStart=/usr/local/bin/mcc-hat-server -iv

[Install]
WantedBy=multi-user.target

